<p class="greeting">Welcome to the community youtube playlist! This is a collection of
  youtube playlists by the community for the community!</p>
<p class="greeting">How it works:
  You supply a youtube channel link and we create a playlist out of
  that channel's ten most popular videos. This is really handy for
  music playlists!
  The process uses oAuth meaning that the playlist will be created
  under your youtube channel. It is public by default and will be
  listed here for others to enjoy!</p>
</p>
<ul>
  <% @playlists.each do |p| %>
    <li class="col-xs-offset-2">
      <%= link_to p.channelname, p.url %>
      <%= '|' %>
      <%= link_to "Playlist", p.popular_url %>
      <%= '|' %>
      <%= link_to "Edit", edit_playlist_path(p.id) %>
    </li>
<% end %>
</ul>
