<!DOCTYPE html>
<html>
<head>
  <title>ProjectHackaYtPlaylist</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="row header">
    <%= button_to "All Playlists", playlists_path, :class => "col-xs-2 col-xs-offset-1 btn btn-primary", :method => :get %>
    <%= button_to "Create a new Playlist", new_playlist_path, :class => "col-xs-2 col-xs-offset-2 btn btn-success", :method => :get %>
    <%= button_to "New Auth Token", auth_url, :class => "col-xs-2 col-xs-offset-2 btn btn-danger" %>
    <hr>
  </header>
  <div id="wrap">
    <div id="main" class="container clear-top">
      <div class="row">
        <div class="span12">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer">
    <hr>
    <a class="personal-website col-xs-offset-3 " href="http://www.morganmart.in">Morgan Martin</a>
  </footer>
</body>
</html>
